/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~leaflet/dist/leaflet.css';

@import 'styles/pallets';
@import 'styles/custom-theme';
@import 'styles/components-theme';
@import 'styles/fonts';
@import 'styles/scrollbar';

body {
    background-color: #fafafa;
    min-height: 100vh;
    height: 100%;
}
