@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);

    .button-to-scroll-tooltip {
        &--light {
            &.mat-mdc-tooltip {
                .mdc-tooltip__surface {
                    background-color: transparent;
                }
            }
        }

        &--dark {
            &.mat-mdc-tooltip {
                .mdc-tooltip__surface {
                    color: black;
                    background-color: transparent;
                }
            }
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }
}
