<mat-card class="kroko-chat">
    <form class="flex flex-col justify-between h-full">
        <mat-card-header>
            <mat-card-title>{{ 'GameModules.Kroko.ChatComponent.Chat' | gpllTranslate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content #chatContainer>
            <ng-container *rxLet="krokoMessages$; let krokoMessages">
                <ng-container *ngFor="let krokoMessage of krokoMessages">
                    <p class="break-words text-ellipsis overflow-hidden">
                        {{ krokoMessage.playerName }}: {{ krokoMessage.message }}
                    </p>
                </ng-container>
            </ng-container>
        </mat-card-content>
        <mat-card-actions class="flex-row-reverse gap-x-4 justify-between">
            <ng-container *rxLet="isDrawer$; let isDrawer">
                <button
                    class="grow-[1]"
                    type="button"
                    mat-raised-button
                    color="primary"
                    [disabled]="isDrawer"
                    mat-button
                    (click)="sendMessage()">
                    {{ 'GameModules.Kroko.ChatComponent.Send' | gpllTranslate }}
                </button>
                <gpll-input-control [hostClasses]="['grow-[2]', 'cyberpunk']">
                    <mat-form-field>
                        <input
                            (keyup.enter)="onEnter($event)"
                            type="text"
                            matInput
                            [formControl]="form.controls.message"
                            placeholder="test" />
                    </mat-form-field>
                </gpll-input-control>
            </ng-container>
        </mat-card-actions>
    </form>
</mat-card>
