<section class="what-we-do-section container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 py-10">
    <div class="header col-span-full justify-self-center">
        <h2 class="text-xl pb-5">Who we are</h2>
    </div>

    <div class="description justify-self-center">
        <li>We creating new things</li>
        <li>We are looking new people</li>
        <li>We create some stuff</li>
    </div>
    <div class="collage justify-self-center">
        <shrl-collage color="primary" [imageSources]="['./assets/arts/7.jpg', './assets/arts/8.jpg']"></shrl-collage>
    </div>
</section>
