<!-- <mat-form-field>
  <input type="text" placeholder="Filter by name" matInput [(ngModel)]="filterText" (input)="applyFilter($event)">
</mat-form-field>
<div>
  <ng-container *ngIf="filteredPosts$ | async; let filteredPosts">
    <mat-card *ngFor="let post of filteredPosts">
      <mat-card-header>
        <mat-card-title>{{ post.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="post.imageUrl" alt="Post Image">
      <mat-card-content>
        <p>{{ post.content }}</p>
        <p>{{ formatDate(post.createdDate) }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div> -->
<h1>Hello</h1>