<section class="relative">
    <div class="container mx-auto px-10">
        <div class="flex flex-col">
            <div class="title flex items-center justify-center">
                <h1>Belarusian Game Portal</h1>
            </div>

            <gpll-stripe-donate-button></gpll-stripe-donate-button>

            <!-- <gpll-user-profile></gpll-user-profile> -->
            <gpll-features-section class="m-4"></gpll-features-section>

            <gpll-donation-section class="m-4"></gpll-donation-section>

            <gpll-feedback-section class="m-4"></gpll-feedback-section>

            <gpll-sticky-board-section class="m-4"></gpll-sticky-board-section>
        </div>
        <!-- <editor [apiKey]="tinyMceApiKey" [init]="{ plugins: 'link' }"></editor> -->
        <div class="flex flex-row py-10"></div>
    </div>

    <div class="kawai absolute">
        <img src="assets/images/kawai-1.png" alt="ITDL Logo" />
    </div>
</section>
