//http://mcg.mbitson.com/#!?mcgpalette0=%238b5890

$contrast-ratio-black: rgba(black, 0.87);

$base: #383347;
$second: #6577a7;

$md-mcgpalette-primary: (
    50: #f9e7ee,
    100: #f0c2d4,
    200: #e69ab8,
    300: #db729c,
    400: #d45386,
    500: #cc3571,
    600: #c73069,
    700: #c0285e,
    800: #b92254,
    900: #ad1642,
    A100: #ffe0e8,
    A200: #ffadc2,
    A400: #ff7a9c,
    A700: #ff6189,
    contrast: (
        50: $contrast-ratio-black,
        100: $contrast-ratio-black,
        200: $contrast-ratio-black,
        300: $contrast-ratio-black,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: $contrast-ratio-black,
        A200: $contrast-ratio-black,
        A400: $contrast-ratio-black,
        A700: $contrast-ratio-black,
    ),
);

$md-mcgpalette-accent: (
    50: #e2e7e8,
    100: #b6c2c5,
    200: #869a9e,
    300: #557177,
    400: #30525a,
    500: #0c343d,
    600: #0a2f37,
    700: #08272f,
    800: #062127,
    900: #03151a,
    A100: #58cfff,
    A200: #25c1ff,
    A400: #00acf1,
    A700: #009ad8,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

// $md-mcgpalette-primary: (
//     50: #e7e7e9,
//     100: #c3c2c8,
//     200: #9c99a3,
//     300: #74707e,
//     400: #565263,
//     500: #383347,
//     600: #322e40,
//     700: #2b2737,
//     800: #24202f,
//     900: #171420,
//     A100: #8765ff,
//     A200: #6032ff,
//     A400: #3800fe,
//     A700: #3300e5,
//     contrast: (
//         50: $contrast-ratio-black,
//         100: $contrast-ratio-black,
//         200: $contrast-ratio-black,
//         300: #ffffff,
//         400: #ffffff,
//         500: #ffffff,
//         600: #ffffff,
//         700: #ffffff,
//         800: #ffffff,
//         900: #ffffff,
//         A100: $contrast-ratio-black,
//         A200: #ffffff,
//         A400: #ffffff,
//         A700: #ffffff,
//     ),
// );

// $md-mcgpalette-accent: (
//     50: #f9e0e0,
//     100: #f0b3b3,
//     200: #e68080,
//     300: #db4d4d,
//     400: #d42626,
//     500: #cc0000,
//     600: #c70000,
//     700: #c00000,
//     800: #b90000,
//     900: #ad0000,
//     A100: #ffd7d7,
//     A200: #ffa4a4,
//     A400: #ff7171,
//     A700: #ff5858,
//     contrast: (
//         50: $contrast-ratio-black,
//         100: $contrast-ratio-black,
//         200: $contrast-ratio-black,
//         300: #ffffff,
//         400: #ffffff,
//         500: #ffffff,
//         600: #ffffff,
//         700: #ffffff,
//         800: #ffffff,
//         900: #ffffff,
//         A100: $contrast-ratio-black,
//         A200: $contrast-ratio-black,
//         A400: $contrast-ratio-black,
//         A700: $contrast-ratio-black,
//     ),
// );
