<section class="contact-us-section">
    <form class="container mx-auto flex flex-col w-5/12 justify-center my-10">
        <mat-form-field>
            <mat-label>Your name</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Your Email to contact</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Leave a additional information</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </form>
</section>
